body {
	background-color: transparent;
	overflow-y: auto;
}

.sticky {
	position: sticky;
	top: 6px;
	z-index: 100;
	display: flex;
	gap: 10px;
	flex-direction: column;
	background-color: var(--vscode-sideBar-background);
}

#feedback {
	margin-top: 20px;
	text-align: center;
	min-height: 20px;
}

.error {
	color: var(--vscode-errorForeground);
}

.warning {
	color: var(--vscode-list-warningForeground);
}

ul {
	list-style-type: none;
	padding: 0;
}

.histPath, .favHistPath, .fileListItem, .workspaceName {
	padding: 10px;
	cursor: pointer;
	margin: 5px;
	overflow-wrap: break-word;
}

.histPath:hover, .fileListItem:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.favPathListItem .histPath:hover {
	background-color: var(--vscode-list-filterMatchBackground);
}

textarea {
	resize: vertical;
	min-height: 8em;
	margin-top: 0;
	padding: 10px
}

.pathListItem, .favPathListItem, .fileListItem, .searchResultWorkspaceItemList {
	position: relative;
}

.icons {
	top: 5px;
	right: 20px;
	position: absolute;
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 5px;
}

.icon {
	padding: 3px;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	text-align: center;
	border-radius: 50%;
	background-color: none;
}

.icon:has(.codicon-star-full)  {
	background-color: var(--vscode-list-activeSelectionBackground)
}

.icon:hover:not(.run .icon, #cancel .icon){
	background-color: var(--vscode-badge-foreground);
	color: var(--vscode-button-foreground);
}

.icon .codicon {
	font-size: 20px;
	/* padding-bottom: 2px; */
}

.pathListItem .icons .icon .codicon-star-empty {
	display: none
}

.pathListItem:hover .icons .icon .codicon-star-empty {
	display: block
}

.spacer {
	height: 20px;
	position: sticky;
	top: 0px;
	background-color: var(--vscode-sideBar-background);
	z-index: 50;
}

.run, #cancel {
	display: flex;
	justify-content: center;
	place-items: center;
	position: relative;
}

.run:disabled, #cancel:disabled {
	background-color: var(--vscode-disabledForeground);
}

.run .icons {
	top: 3px;
}

.spin {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.hide {
	display: none !important;
}

.show {
	display: block;
}



/* Search */
.tabs, .footerList {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.tab, .footerItem {
	flex-basis: 0;
	flex-grow: 1;
	min-width: 0;
	text-align: center;
	cursor: pointer;
	padding: 7px;
	border-top: 2px solid transparent;
}

#searchTerm, #excludeTerm {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	margin-bottom: 5px;
}

.fileListItem {
	padding-left: 20px;
	border: 0px;
	border-left: solid 1px var(--vscode-charts-lines);
	margin: 0px;
	margin-left: 14px;
}

.relativePath {
	font-size: 11px;
	font-style: italic;
	opacity: 80%;
	color: gray;
	padding: 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	direction: rtl;
}

.fileName {
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.workspaceName {
	padding-left: 0;
}

.count {
	padding: 5px;
	border-radius: 25%;
	background-color: var(--vscode-banner-background);
}

#footerContainer {
	bottom: -1px;
	height: 40px;
	display: flex;
	width: 95%;
	background-color: var(--vscode-sideBar-background);
}

.footerSticky {
	position: sticky;
	bottom: -5px;
}

.footerAbsolute {
	position: absolute;
}

.footerItem {
	display: flex;
	text-wrap: nowrap;
	cursor: default;
	gap: 10px;
}

.footerIcon:hover + .footerItemLabel {
	opacity: 100%;
}

.footerItemLabel {
	opacity: 30%;
}

.invisible {
	opacity: 0;
}



.active {
	border-top: 2px solid var(--vscode-textLink-foreground);
}

.selected {
	border-left-color: var(--vscode-textLink-foreground);
	color: var(--vscode-textLink-foreground);
}

.span {
	display: flex;
	gap: 5px;
	align-items: center;
}

#cancel {
	height: 26.4px;
	max-width: 40px;
}

label {
	font-size: 11px;
	font-weight: 400;
	margin: 0;
	line-height: 1.4em;
}